body {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    background-color: #ede5e2;
  }
  
  .form-inline{
    margin: 0px auto !important;
  }
  
  .jumbotron{
    background-color: #3d6162;
  }
  